[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
django-filter = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.9"
